# -----------------
# Dependencies
# -----------------
node_modules/

# -----------------
# Next.js build output
# -----------------
.next/
out/
build/

# -----------------
# Logs
# -----------------
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# -----------------
# Environment variables
# -----------------
.env*
!.env.example

# -----------------
# OS files (macOS etc.)
# -----------------
.DS_Store
**/.DS_Store

# -----------------
# Editor / IDE
# -----------------
.vscode/
.idea/

# -----------------
# Misc
# -----------------
*.swp
*.swo
*~